<section class="rh-about" id="about">
  <div class="container">
    <div class="row section-separator">

      <div class="col-sm-12 col-md-6 d-flex justify-content-center">
        <div class="animate__animated animate__fadeInLeft wow"
          data-wow-duration="0.8s"
          data-wow-delay="0.2s">
          <img src="assets/img/cartoon_portrait.jpg" alt="Cartoon Portrait" class="img-fluid">
        </div>
      </div>


      <div class="col-sm-12 col-md-6 d-flex">
        <div class="rh-about-content justify-content-center align-self-center">
          <h2 class="animate__animated animate__fadeInRight wow"
            data-wow-duration="0.8s"
            data-wow-delay="0.2s">
            About Me
          </h2>
          <p class="animate__animated animate__fadeInRight wow"
            data-wow-duration="0.8s"
            data-wow-delay="0.3s">
            Hello! I'm Ryan '👋' I'm a developer from Singapore passionate in making life/processes easy and simple
            because that's how we should live our lives!
            <br><br>
            I love learning and experimenting with new hobbies, technologies, and really just about anything I find
            interesting.
          </p>
          <div class="rh-about-tag">
            <ng-container *ngFor="let skill of skills; let i = index">
              <app-tag [value]="skill" [tagIndex]="i"></app-tag>
            </ng-container>
          </div>
          <a href="" class="btn btn-fill animate__animated animate__fadeInRight wow"
            data-wow-duration="0.8s"
            data-wow-delay="0.4s">Get my Resume
            <fa-icon [icon]="faDownload"></fa-icon>
          </a>

        </div>
      </div>
    </div>
  </div>
</section>
