<section class="rh-experience home-img" id="experiences">
  <div class="img-color-overlay">
    <div class="container">
      <div class="row section-separator">

        <div class="col-sm-12 col-md-6">
          <div class="rh-education">
            <a href="https://www.linkedin.com/in/ryanhuanglw/">
              <h3 class="text-center">
                Education
              </h3>
            </a>
            <div class="rh-experience-container">
              <div class="rh-education-item">
                <h4>
                  Bsc (Magna Cum Laude) <br> Information Systems<br>
                  <a href="https://www.smu.edu.sg/">Singapore Management University</a>
                </h4>
                <div class="rh-exp-period"> 2015 - 2019 </div>
                <p>
                  Group projects form a major component of the syllabus. Having worked in teams of approximately
                  five students throughout my course of study, I am comfortable working in a team and enjoy doing so. I
                  am flexible
                  in my role in the team as I'd do whatever that's required for the team's benefit.
                </p>
              </div>
              <div class="rh-education-item">
                <h4>
                  Diploma Aviation Management & Services<br>
                  <a href="https://www.tp.edu.sg/">Temasek Polytechnic</a>
                </h4>
                <div class="rh-exp-period"> 2010 - 2013 </div>
                <p>
                  Aviation has always been my passion growing up. I thoroughly enjoyed my time studying in Aviation
                  Management and Services and it was hardly a chore attending classes. <br><br>
                  During the course of study, I joined the Singapore Youth Flying Club, a subsidary of the Singapore Air
                  Force and attained a fully sponsored Private Pilot's License(R) while juggling school work. This
                  wouldn't be possible without exercising strict time management.
                </p>
              </div>
            </div>

          </div>
        </div>

        <div class="col-sm-12 col-md-6">
          <div class="rh-work">
            <a href="https://www.linkedin.com/in/ryanhuanglw/">
              <h3 class="text-center">
                Work Experience
              </h3>
            </a>
            <div class="rh-experience-container">
              <div class="rh-work-item">
                <h4>
                  Cadet Pilot In Training<br>
                  <a href="https://www.flyscoot.com/en">Scoot</a>
                </h4>
                <div class="rh-exp-period"> 04/2019 - current </div>
                <p>
                  Training under the Scoot - Singapore Flying College MPL Program (Airbus A320)
                </p>
              </div>
              <div class="rh-work-item">
                <h4>
                  SMU Teaching Assistant (Java)<br>
                  <a href="https://www.smu.edu.sg/">Singapore Management University</a>
                </h4>
                <div class="rh-exp-period"> 07/2016 - 05/2018 </div>
                <p>
                  My responsiblities include assisting professors and instructors in providing academic and
                  administrative support, and guide students on the course through direct face-to-face feedback or
                  leaving feedback on assignments I had to review.
                </p>
              </div>
              <div class="rh-work-item">
                <h4>
                  Information Technology & Operations Developer (Intern)<br>
                  <a href="https://www.sc.com/sg/">Standard Chartered Bank</a>
                </h4>
                <div class="rh-exp-period"> 06/2017 - 09/2017 </div>
                <p>
                  As a member of the "Scrumbags" Scrum Sprint Team, we adopted the Agile Methodology and DevOps
                  practices. Award Most Valuable Scrum Member at the end of the intership.
                </p>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>
