/* You can add global styles to this file, and also import other style files */
body {
  font-family: "roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  overflow-x: hidden !important;
  position: relative;
  color: #636464;
  opacity: 0.9;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  color: #000;
  list-style-type: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

a {
  text-decoration: none !important;
  cursor: pointer;
  padding: 0px;
  background-color: transparent;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #000;
  opacity: 0.9;
}

a:hover {
  background-color: transparent;
  color: #000;
}

a:focus {
  background-color: transparent;
  outline: 0 !important;
}

/**
 * -----------------
 * Social Icon Style
 * -----------------
 */
.social-icon {
  display: inline-block;
}

.social-icon li {
  list-style: none;
  float: left;
  margin-bottom: 0px;
  margin-right: 8px;
}

.social-icon li a {
  text-align: center;
  width: 45px;
  height: 45px;
  padding: 10px;
  border-radius: 50%;
}

.social-icon li:last-child a {
  margin-right: 0px;
}
