/* You can add global styles to this file, and also import other style files */
body {
  font-family: "roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  overflow-x: hidden !important;
  position: relative;
  color: #636464;
  opacity: 0.9;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  color: #000;
  list-style-type: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

a {
  text-decoration: none !important;
  cursor: pointer;
  padding: 0px;
  background-color: transparent;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #000;
  opacity: 0.9;
}

a:hover {
  background-color: transparent;
  color: #000;
}

a:focus {
  background-color: transparent;
  outline: 0 !important;
}

/**
 * -----------------
 * Section Styles
 * -----------------
 */

.section-separator {
  padding: 60px 0;
  padding-top: 100px;
}

/**
 * -----------------
 * Social Icon Style
 * -----------------
 */
.social-icon {
  display: inline-block;
}

.social-icon li {
  list-style: none;
  float: left;
  margin-bottom: 0px;
  margin-right: 8px;
}

.social-icon li a {
  text-align: center;
  width: 45px;
  height: 45px;
  padding: 10px;
  border-radius: 50%;
}

.social-icon li:last-child a {
  margin-right: 0px;
}

/**
 * -----------------
 * Custom Bootstrap Style
 * -----------------
 */

.btn {
  padding: 8px 30px;
  font-weight: bold;
  border-radius: 20px;
}

/**
   * -----------------
   * Phone Landscape
   * -----------------
   */

@media only screen and (max-width: 991px) {
  /* * Turn Off Animate.css on Mobile * */
  .animate__animated {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }

  .section-separator {
    padding: 40px 0;
  }
}
