<section class="rh-home image-bg home-img" id="home">
  <div class="img-color-overlay">
    <div class="container">
      <div class="row section-separator xs-col-reverse vertical-middle-content home-padding">


        <div class="col-sm-6">
          <div class="rh-header-info">
            <h2 class="animate__animated animate__fadeInUp wow"
              data-wow-duration="0.9s"
              data-wow-delay="0.1s">
              Ryan Huang
            </h2>

            <h4 class="animate__animated animate__fadeInUp wow"
              data-wow-duration="0.9s"
              data-wow-delay="0.2s">
              Scoot Cadet Pilot & Software Developer
            </h4>

            <!-- Contact Information Lite -->
            <ul>
              <li class="animate__animated animate__fadeInUp wow"
                data-wow-duration="0.9s"
                data-wow-delay="0.3s">
                <a href="">
                  <fa-icon [icon]="faEnvelope">
                  </fa-icon>
                  ryanhuanglw@gmail.com
                </a>
              </li>
              <li class="animate__animated animate__fadeInUp wow"
                data-wow-duration="0.9s"
                data-wow-delay="0.4s">
                <a href="#contact">
                  <fa-icon [icon]="faPhone">
                  </fa-icon>
                  Contact Info Below
                </a>
              </li>
              <li class="animate__animated animate__fadeInUp wow"
                data-wow-duration="0.9s"
                data-wow-delay="0.5s">
                <a href="">
                  <fa-icon [icon]="faMapMarkerAlt">
                  </fa-icon>
                  Singapore
                </a>
              </li>


            </ul>

            <!-- Social Media -->
            <ul class="social-icon animate__animated animate__fadeInUp wow"
              data-wow-duration="0.9s"
              data-wow-delay="0.6s">
              <li>
                <a href="">
                  <fa-icon [icon]="faGithub"></fa-icon>
                </a>
              </li>
              <li>
                <a href="">
                  <fa-icon [icon]="faFacebook"></fa-icon>
                </a>
              </li>
              <li>
                <a href="">
                  <fa-icon [icon]="faInstagram"></fa-icon>
                </a>
              </li>
            </ul>

          </div>
        </div>


        <div class="col-sm-6">
          <div class="rh-profile-pic animate__animated animate__fadeInUp wow"
            data-wow-duration="0.8s"
            data-wow-delay="0.2s"
            style="visibility: visible;">

            <div class="img-border">
              <img src="assets/img/rh-profile-pic.png" class="img-fluid">
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>
